{% extends "base_generic.html" %}

{% block title %} <title> Decks </title> {% endblock %}

{% block content %}
    <body>
        <h2>Deck List of {{ user.username }}</h2>
        {% if decks %}
            <ul>
                {% for deck in decks %}
                    <li>
                        {{ deck.Titulo }} 
                        - 
                        <a href="{{ deck.get_absolute_url }}" class = "menu-buttons"> Editar </a>
                        -
                        <!-- Boton para eliminar el deck -->
                        <form action="{% url 'eliminar_deck' deck.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                        -
                        |
                        {% if deck_seleccionado != deck %}
                        <!-- Formulario para seleccionar el deck -->
                            <form method="post" style="display:inline;">{% csrf_token %}
                                <input type="hidden" name="deck_id" value="{{ deck.id }}">
                                <button type="submit" class="menu-buttons">Seleccionar</button>
                            </form>
                        {% else %}
                            Deck Seleccionado
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay decks asociados al jugador.</p>
        {% endif %}
        <a href="{% url 'deck_create' %}">Crear Nuevo Deck</a>

    </body>
{% endblock %}
