{% extends "base_generic.html" %}
{% block content %}
<div class="container">
    <h1>{{ deck.Titulo }}</h1>
    <div class="row">
        <h2>Cartas en el Deck</h2>
        <p>{{deck.CantidadCartas}}</p>
        <ul>
            <div class="container-fluid pt-2 pb-0" style="border: 4px solid rgb(124, 47, 43)">
                <div class="row row-cols-7">
                    {% for deck_card in deck_cards %}  
                            <div class="col p-0">
                                <div class="container-fluid" style="height:204px; width:148px">                                     
                                    
                                    <form method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="carta_id" value="{{ deck_card.id }}">
                                        <input type="hidden" name="tipo" value="{{ deck_card.tipo }}">
                                        <div class="button-container">
                                            <button class="btn btn-outline-danger p-0" type="submit" name="action" value="remove" style="border-radius: 0px; border: none;"><img src="/media/{{ deck_card.carta.Imagen }}" alt="{{ deck_card.carta.Nombre }}" class="mx-auto d-block p-1" 
                                                style="border: 4px solid rgb(124, 47, 43); padding: 1px; background: rgba(0, 0, 0, 0.5);" height="175px" width="120px"></button>
                                        </div>
                                        
                                        <!-- 
                                        {% csrf_token %}
                                        <input type="hidden" name="carta_id" value="{{ deck_card.carta.id }}">
                                        <input type="hidden" name="action" value="remove">
                                        <div class="button-container mt-1 mb-2">
                                            <button class="centered-button" type="submit">Eliminar</button>
                                        </div>
                                        -->
                                        
                                    </form>
                                </div>  
                            </div> 
                            {% if forloop.last %}
                                {% for i in range %}
                                    <div class="col p-0">
                                        <div class="container-fluid" style="height:204px; width:148px">                                     
                                            <img src="/media/{{ deck.BackImage }}" alt="{{ deck.Titulo }}" class="mx-auto d-block p-1" style="border: 4px solid rgb(124, 47, 43); padding: 1px; background: rgba(0, 0, 0, 0.5);" height="175px" width="120px">
                                        </div>  
                                    </div>                                                               
                                {%endfor%}
                            {% endif %} 
                            {%empty%}
                                {% for i in range %}
                                    <div class="col p-0">
                                        <div class="container-fluid" style="height:204px; width:148px">                                     
                                            <img src="/media/{{ deck.BackImage }}" alt="{{ deck.Titulo }}" class="mx-auto d-block p-1" style="border: 4px solid rgb(124, 47, 43); padding: 1px; background: rgba(0, 0, 0, 0.5);" height="175px" width="120px">
                                        </div>  
                                    </div>                                                               
                                {%endfor%}                         
                    {% endfor %}
                </div>
            </div>    
        </ul>
    </div>
    <div class="row">
        <h2>Agregar Carta al Deck</h2>
            <div class="form-group">
                <div class="row" >
                    {% for carta in cartas %}
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="col-sm-3 p-4">
                            <div class="container-fluid" style="border: 4px solid rgb(124, 47, 43); 
                                padding: 1px; background: rgba(0, 0, 0, 0.5);">
                                <img src="/media/{{ carta.Imagen }}" alt="{{ carta.Nombre }}" class="mx-auto d-block" height="260px" width="175px">
                                <div class="form-container" style="display: flex; justify-content: center; align-items: center;">
                                    <label for="tipo">Tipo:</label>
                                    <select name="tipo" id="tipo">
                                        <option value="ci">Circulo</option>
                                        <option value="cu">Cuadrado</option>
                                        <option value="tr">Triangulo</option>
                                    </select>                                   
                                </div>
                                {{ carta.id }}
                                <input type="hidden" name="carta_id" value="{{ carta.id }}">
                                <input type="hidden" name="action" value="add">
                                <div class="button-container mt-2 mb-2">
                                    <button class="centered-button" type="submit">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        
    </div>
</div>

{% endblock %}
