{% extends "base_generic.html" %}

{% block title %} <title> Decks </title> {% endblock %}

{% block content %}
    <body>
        <h2>Lista de Decks</h2>
        <ul>
            {% for deck in decks %}
                <li>{{ deck.Titulo }}</li>
            {% endfor %}
        </ul>
        
        <!-- Si el usuario está registrado podrá crear un Deck -->
        {% if user.is_authenticated %}
            <a href="{% url 'deck_create' %}">Crear Nuevo Deck</a>
        {% endif %}
    </body>
{% endblock %}
