{% extends "base_generic.html" %}
{% block content %}
<div class="container">
    <h1>{{ deck.Titulo }}</h1>
    <div class="row">
        <h2>Cartas en el Deck</h2>
        <ul>
            <div class="container-fluid" style="border: 4px solid rgb(124, 47, 43); background: rgba(0, 0, 0, 0.5);">
            <h2>Circulo: {{deck.CantCirculo}} | Cuadrado: {{deck.CantCuadrado}} | Triangulo: {{deck.CantTriangulo}}</h2>
            <div class="row row-cols-7">
                {% for deck_card in deck_cards %}  
                    <div class="col p-0 mb-2" style="height:160px; width:120px">
                        <div class="container-fluid mb-4 p-0" style="height:160px; width:120px">
                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="carta_id" value="{{ deck_card.id }}">
                                <input type="hidden" name="tipo" value="{{ deck_card.tipo }}">
                                    <button class="button" type="submit" name="action" value="remove" style="border: 4px solid rgb(124, 47, 43); background: rgba(0, 0, 0, 0.5);height:160px; width:120px">
                                        <img src="/media/{{ deck_card.carta.Imagen }}" alt="{{ deck_card.carta.Nombre }}" class="mx-auto d-block"  height="160px" width="120px">
                                    </button>
                            </form>
                        </div>  
                    </div>
                {% if forloop.last %}
                    {% for i in range %}
                        <div class="col p-0 mb-2" style="height:160px; width:120px">
                            <div class="container-fluid mb-4 p-0" style="height:160px; width:120px">
                                <img src="/media/{{ deck.BackImage }}" alt="{{ deck.Titulo }}" class="mx-auto d-block" style="border: 4px solid rgb(124, 47, 43); background: rgba(0, 0, 0, 0.5);width: 100%;" height="160px" width="120px">
                            </div> 
                        </div> 
                    {% endfor %}
                {% endif %}
                {%empty%}
                    {% for i in range %}
                        <div class="col p-0 mb-2" style="height:160px; width:120px">
                            <div class="container-fluid mb-4 p-0" style="height:160px; width:120px">
                                <img src="/media/{{ deck.BackImage }}" alt="{{ deck.Titulo }}" class="mx-auto d-block" style="border: 4px solid rgb(124, 47, 43); background: rgba(0, 0, 0, 0.5);width: 100%" height="160px" width="120px">
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
                <a href="{% url 'copiar_cartas' deck.id %}?next={{ request.path }}">Copiar</a>
                <form action="{% url 'pegar_cartas' deck.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Pegar</button>
                </form>
            </div>

        </ul>
    </div>

    

        


    <div class="row">
        
        <ul>
            <div class="container p-3 mt-3" style="border: 3px solid rgb(124, 47, 43); background: rgba(0, 0, 0, 0.5);">
                <h2>Lista de Cartas:</h2>
                <div class="form-group">
                    
                    <div class="row">
                        
                        {% for carta in cartas %}
                        <div class="col p-1" style="height:260px; width:150px">
                            <div class="container" style="border: 2px solid rgb(124, 47, 43); 
                                padding: 1px; background: rgba(0, 0, 0, 0.5); height:205px; width:125px">
                                <img src="/media/{{ carta.Imagen }}" alt="{{ carta.Nombre }}" class="mx-auto d-block" height="135px" width="100px">

                                <form class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    <div class="form-container mt-1" style="display: flex; justify-content: center; align-items: center;">
                                        <select name="tipo" id="tipo">
                                            <option value="ci">Circulo</option>
                                            <option value="cu">Cuadrado</option>
                                            <option value="tr">Triangulo</option>
                                        </select>                                   
                                    </div>
                                    <input type="hidden" name="carta_id" value="{{ carta.id }}">
                                    <input type="hidden" name="action" value="add">
                                    <div class="button-container mt-2 mb-2">
                                        <button class="centered-button" type="submit">Agregar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <ul>
    </div>
</div>

{% endblock %}
