{% extends "base_generic.html" %}

{% block title %} <title> Decks </title> {% endblock %}

{% block content %}
    <body>
        <h2>Deck List of {{ user.username }}</h2>
        {% if decks %}
            <ul>
                {% for deck in decks %}
                    <li>{{ deck.Titulo }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay decks asociados al jugador.</p>
        {% endif %}
        
        <a href="{% url 'deck_create' %}">Crear Nuevo Deck</a>

    </body>
{% endblock %}
